.pays-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    @media (min-width: 768px){       
        justify-content: space-evenly;
    }
}

.bouton__pays{
    flex: 0 0 120px;
    padding: 0.5rem;
    margin: 0.5rem;
    @media(min-width: 768px){       
        flex: 0 0 140px;
        padding: 0.5rem;
    }
}

.titre__Image{

}

.image__pays{
    width: 150px;
    height: 100%;
    object-fit: cover;
}

.contenu__restapi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.restapi__pays{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 0 250px;
    padding: 1rem;
    align-items: center;
    background-color: hsl(167, 57%, 37%);
    box-shadow: inset 0px 0px 8px 5px hsl(167, 76%, 13%, 0.5);
    border: 2px white solid;
}

.restapi__carte > h3{
    font-size: 2rem;
    margin: 1rem 0;
    color: hsl(38, 100%, 47%);
}